/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-dagens-bibelvers {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.dagens-bibelvers-link{
	display: block; 
	max-width: 100%; 
	height: auto;
}

.dagens-bibelvers-image{
	max-width: 100%;
	height: auto;
}